html, body {
    margin: 5px 5px 5px 1em;
    padding: 0;
}

.clickable {
    cursor:pointer;
    text-decoration: underline;
    user-select: none;
}

#chat-container {
    display:inline-block;
    position: absolute;
    right: 2em;
    bottom:1em;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 1em;
    padding: 1em;
}

#messages {
    height: 20em;
    overflow-y: scroll;
}

.card, .deck-card {
    height: 10em;
}

.card {
    margin-right: 1em;
}

.deck-card {
    margin-right: -6.5em;
    transition: 1s;
}

.deck-card-dealt-0 {
    transform: translate(8em,27em);
}

.deck-card-dealt-1 {
    transform: translate(16em,27em);
}

.deck-card-dealt-2 {
    transform: translate(24em,27em);
}

.deck-card-dealt-3 {
    transform: translate(32em,27em);
}

.deck-card-dealt-4 {
    transform: translate(40em,27em);
}

.deck-card-dealt-5 {
    transform: translate(48em,27em);
}

li {
    list-style: none;
    display: inline;
}