html, body {
    margin: 5px 5px 5px 1em;
    padding: 0;
    background: seagreen;
}

p, button, input {
    font-size: 2rem;
}

p, button, .user-list {
    color: white;
}

.user-list {
    font-size: 3rem;
}

.user-list td {
    padding-right: 1em;
}

.ready-mark {
    color: #68ff68;
}

.not-ready-mark {
    color: #dc0202;
}

.ready-mark, .not-ready-mark {
    text-shadow: 2px 3px 7px black;
}

button {
    background: none;
    border: 3px solid white;
    box-shadow: 1px 1px 9px #0000009c;
    border-radius: 0.5rem;
}

button:hover {
    box-shadow: 2px 2px 9px #000000de;
    transform: scale(1.01) translateY(-2px);
}

button:active, button:focus {
    outline: none;
    box-shadow: 1px 1px 5px #00000085;
    transform: scale(0.99) translateY(2px);
}

.message-text {
    color: black;
}

.clickable {
    cursor:pointer;
    user-select: none;
}

.unselectable {
    user-select: none;
}

.send-button {
    background: #ffffff;
    border: 3px solid #00467d;
    box-shadow: 2px 2px 9px #0000009c;
    border-radius: 0.5rem;
    color: #00467d;
}

#chat-container {
    display:inline-block;
    position: absolute;
    right: 2em;
    bottom:1em;
    background-color: lightgrey;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 3px 3px 4px #0000008f;
}

.score-text {
    position: absolute;
    top: 0;
    right: 5em;
}

#messages {
    height: 20em;
    overflow-y: scroll;
}

.card, .deck-card, .other-player-card {
    width:6.5em;
}

.card {
    margin-right: 1em;
}

.deck-card {
    margin-right: -6.4em;
    transition: 1s;
}

.card-list {
    list-style: none;
    display: inline;
}

.hand-card {
    visibility: hidden;
}

#played-pile {
    position: absolute;
    left: calc(50% - 6.5em);
    top: calc(50% - 8em);
}

#hand-container {
    /* position: absolute;
    bottom: 5em; */
    margin-top: 35%;
}

.bid-paragraph {
    position: absolute;
    top: 9em;
    left: 37%;
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-270 {
    transform: rotate(270deg);
}

.opponent-0 {
    position: absolute;
    left: 4em;
    top: 35%
}

.opponent-1 {
    position: absolute;
    right: 4em;
    top: 35%;
}

.teammate-1 {
    position: absolute;
    left: 42%;
    top: 4em;
}

.other-player-card {
    margin-right: -2.5em;
    margin-left: -2.5em;
}

.played {
    position: absolute;
}

.played-pos-0 {
    left: -3.5em;
}

.played-pos-1 {
    top: -3.5em;
}

.played-pos-2 {
    left: 3.5em;
}

.played-pos-3 {
    top: 3.5em;
}

.clubs, .spades {
    color: black;
}

.hearts, .diamonds {
    color: red;
}